In [3]:
import pandas as pd
import os
from utils import *

In [4]:
hdf= '/home/mei/nas/docker/thesis/data/hdf/'

flat_features = pd.read_hdf(os.path.join(hdf, 'final_flat_drug.h5')).set_index('patient')
diagnoses = pd.read_hdf(os.path.join(hdf, 'final_diagnoses_trim.h5')).set_index('patient')
timeseries = pd.read_hdf(os.path.join(hdf, 'final_timeseries.h5')).reset_index().set_index('patient')
risks = pd.read_hdf(os.path.join(hdf, 'final_risk_scores.h5')).set_index('patient')

In [5]:
split_train_test(hdf,flat_features, diagnoses,timeseries,risks)

==> Loading data for splitting...
==> Preparing train data...
==> train data saved!

==> Preparing val data...
==> val data saved!

==> Preparing test data...
==> test data saved!


==== Dataset Sizes ====
**train set:**
- Flat Features: (2150, 104)
- Diagnoses: (2150, 39)
- Time Series: (3126284, 155)
- Labels: (3126284, 8)

**val set:**
- Flat Features: (461, 104)
- Diagnoses: (461, 39)
- Time Series: (692647, 155)
- Labels: (692647, 8)

**test set:**
- Flat Features: (461, 104)
- Diagnoses: (461, 39)
- Time Series: (667500, 155)
- Labels: (667500, 8)

==> Splitting complete!

In [ ]:
import h5py

def save_to_h5py(data_path,partition,risk=False):
    partition_path = os.path.join(data_path, partition)
    if risk: 
       timeseries_file = os.path.join(partition_path, 'risks.h5')
       timeseries_data = pd.read_hdf(timeseries_file)
       output_file = os.path.join(partition_path, 'risk_each_patient.h5')
    else:
        timeseries_file = os.path.join(partition_path, 'timeseries.h5')
        timeseries_data = pd.read_hdf(timeseries_file)
        output_file = os.path.join(partition_path, 'ts_each_patient.h5')
  
    with h5py.File(output_file, 'w') as h5f:
        for patient_id, group in timeseries_data.groupby('patient'):
            h5f.create_dataset(str(patient_id), data=group.values)
    
    print(f'Data for {partition} saved successfully in h5py version!')

In [ ]:
hdf= '/home/mei/nas/docker/thesis/data/hdf/'

for partition in ['train', 'val', 'test']:
    save_to_h5py(hdf,partition,risk=False)
    save_to_h5py(hdf,partition,risk=True)

Data for train1 saved successfully in h5py version!
Data for train1 saved successfully in h5py version!
Data for val saved successfully in h5py version!
Data for val saved successfully in h5py version!
Data for test saved successfully in h5py version!
Data for test saved successfully in h5py version!

In [5]:
risks

,time,gender,age,dischargeweight,unitdischargestatus,discharge_risk_category,actualiculos,risk_score
patient,,,,,,,,
260132,1,0,89.0,84.1,1,3,0.1819,0.989578
260132,2,0,89.0,84.1,1,3,0.1819,0.989812
260132,3,0,89.0,84.1,1,3,0.1819,0.990046
260132,4,0,89.0,84.1,1,3,0.1819,0.990280
260132,5,0,89.0,84.1,1,3,0.1819,0.990514
...,...,...,...,...,...,...,...,...
3247116,2328,0,52.0,68.0,1,3,8.1256,0.999041
3247116,2329,0,52.0,68.0,1,3,8.1256,0.999281
3247116,2330,0,52.0,68.0,1,3,8.1256,0.999520
3247116,2331,0,52.0,68.0,1,3,8.1256,0.999760
3247116,2332,0,52.0,68.0,1,3,8.1256,1.000000

In [6]:
timeseries

,time,-bands,-basos,-eos,-lymphs,-monos,-polys,24 h urine protein,24 h urine urea nitrogen,ALT (SGPT),...,sao2,heartrate,respiration,cvp,systemicsystolic,systemicdiastolic,systemicmean,st1,st2,st3
patient,,,,,,,,,,,,,,,,,,,,,
260132,1,0.5,0.1,0.027778,0.167059,0.121429,0.828358,0.5,0.5,0.50000,...,0.914286,0.289474,0.509434,0.600000,0.095808,0.063636,0.058394,0.5,0.015778,0.5
260132,2,0.5,0.1,0.027778,0.167059,0.121429,0.828358,0.5,0.5,0.50000,...,0.914286,0.289474,0.509434,0.600000,0.095808,0.063636,0.058394,0.5,0.015778,0.5
260132,3,0.5,0.1,0.027778,0.167059,0.121429,0.828358,0.5,0.5,0.50000,...,0.914286,0.289474,0.509434,0.600000,0.095808,0.063636,0.058394,0.5,0.015778,0.5
260132,4,0.5,0.1,0.027778,0.167059,0.121429,0.828358,0.5,0.5,0.50000,...,0.914286,0.289474,0.509434,0.600000,0.095808,0.063636,0.058394,0.5,0.015778,0.5
260132,5,0.5,0.1,0.027778,0.167059,0.121429,0.828358,0.5,0.5,0.50000,...,0.914286,0.289474,0.509434,0.600000,0.095808,0.063636,0.058394,0.5,0.015778,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3247116,2328,0.5,0.0,0.000000,0.023529,0.142857,0.500000,0.5,0.5,0.01897,...,0.890286,0.602807,0.443774,0.854000,0.581317,0.396000,0.463358,0.5,0.500000,0.5
3247116,2329,0.5,0.0,0.000000,0.023529,0.142857,0.500000,0.5,0.5,0.01897,...,0.890476,0.601974,0.444182,0.854167,0.581587,0.397348,0.464416,0.5,0.500000,0.5
3247116,2330,0.5,0.0,0.000000,0.023529,0.142857,0.500000,0.5,0.5,0.01897,...,0.889441,0.601449,0.432322,0.854348,0.576412,0.394466,0.459854,0.5,0.500000,0.5
3247116,2331,0.5,0.0,0.000000,0.023529,0.142857,0.500000,0.5,0.5,0.01897,...,0.888312,0.600080,0.433962,0.852273,0.570495,0.391322,0.455209,0.5,0.500000,0.5
3247116,2332,0.5,0.0,0.000000,0.023529,0.142857,0.500000,0.5,0.5,0.01897,...,0.887075,0.598580,0.434861,0.847619,0.565726,0.389177,0.451860,0.5,0.500000,0.5

In [7]:
flat_features

,gender,age,admissionweight,larger_than_89,acetaminophen,advair_diskus,albuterol,albuterol_sulfate,allopurinol,alprazolam,...,tramadol_hcl,trazodone_hcl,tylenol,vancomycin,ventolin_hfa,vicodin,vitamin_c,vitamin_d,warfarin_sodium,zofran
patient,,,,,,,,,,,,,,,,,,,,,
260132,0,89.0,59.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261021,0,89.0,51.7,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270853,1,46.0,134.4,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
282833,0,84.0,51.3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
306940,0,71.0,81.6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3246409,1,77.0,83.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3246443,1,82.0,76.7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3246620,1,66.0,106.5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3246731,1,59.0,96.3,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3247116,0,52.0,61.7,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
diagnoses

,Cardiovascular (R),Cardiovascular (R)|AICD,Cardiovascular (R)|Angina,Cardiovascular (R)|Arrhythmias,Cardiovascular (R)|Congestive Heart Failure,Cardiovascular (R)|Coronary Artery Bypass,Cardiovascular (R)|Hypertension Requiring Treatment,Cardiovascular (R)|Myocardial Infarction,Cardiovascular (R)|Pacemaker,Cardiovascular (R)|Peripheral Vascular Disease,...,Pulmonary,Pulmonary|Asthma,Pulmonary|COPD,Pulmonary|Home Oxygen,Renal (R),Renal (R)|Chronic Stone Disease,Renal (R)|Renal Failure,Renal (R)|Renal Insufficiency,Rheumatic,Rheumatic|Rheumatoid Arthritis
patient,,,,,,,,,,,,,,,,,,,,,
260132,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261021,1,0,0,1,0,0,1,0,1,0,...,1,1,1,0,0,0,0,0,0,0
270853,1,0,0,0,0,0,1,0,0,0,...,1,1,1,0,0,0,0,0,0,0
282833,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
306940,1,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3246409,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3246443,1,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3246620,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3246731,1,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3247116,1,0,0,1,0,0,1,0,0,0,...,1,0,1,1,0,0,0,0,1,1

In [9]:
hdf= '/home/mei/nas/docker/thesis/data/hdf/'

risk_test = pd.read_hdf(os.path.join(hdf, 'test/risks.h5'))
risk_test

,time,gender,age,dischargeweight,unitdischargestatus,discharge_risk_category,actualiculos,risk_score
patient,,,,,,,,
320647,1,1,61.0,84.1,0,2,5.1069,0.483171
320647,2,1,61.0,84.1,0,2,5.1069,0.483134
320647,3,1,61.0,84.1,0,2,5.1069,0.483098
320647,4,1,61.0,84.1,0,2,5.1069,0.483061
320647,5,1,61.0,84.1,0,2,5.1069,0.483024
...,...,...,...,...,...,...,...,...
3244909,828,1,63.0,83.9,0,1,1.9756,0.200450
3244909,829,1,63.0,83.9,0,1,1.9756,0.200337
3244909,830,1,63.0,83.9,0,1,1.9756,0.200225
3244909,831,1,63.0,83.9,0,1,1.9756,0.200112
3244909,832,1,63.0,83.9,0,1,1.9756,0.200000

In [10]:
flat_test = pd.read_hdf(os.path.join(hdf, 'test/flat.h5'))
flat_test

,gender,age,admissionweight,larger_than_89,acetaminophen,advair_diskus,albuterol,albuterol_sulfate,allopurinol,alprazolam,...,tramadol_hcl,trazodone_hcl,tylenol,vancomycin,ventolin_hfa,vicodin,vitamin_c,vitamin_d,warfarin_sodium,zofran
patient,,,,,,,,,,,,,,,,,,,,,
320647,1,61.0,108.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
426638,1,51.0,108.8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
430027,0,89.0,75.2,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
445889,0,60.0,83.6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
446339,1,77.0,90.2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3237396,1,60.0,93.1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3239059,0,76.0,113.4,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3240660,0,56.0,70.2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3240896,0,69.0,100.8,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3244909,1,63.0,82.6,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
diagnoses_test = pd.read_hdf(os.path.join(hdf, 'test/diagnoses.h5'))
diagnoses_test

,Cardiovascular (R),Cardiovascular (R)|AICD,Cardiovascular (R)|Angina,Cardiovascular (R)|Arrhythmias,Cardiovascular (R)|Congestive Heart Failure,Cardiovascular (R)|Coronary Artery Bypass,Cardiovascular (R)|Hypertension Requiring Treatment,Cardiovascular (R)|Myocardial Infarction,Cardiovascular (R)|Pacemaker,Cardiovascular (R)|Peripheral Vascular Disease,...,Pulmonary,Pulmonary|Asthma,Pulmonary|COPD,Pulmonary|Home Oxygen,Renal (R),Renal (R)|Chronic Stone Disease,Renal (R)|Renal Failure,Renal (R)|Renal Insufficiency,Rheumatic,Rheumatic|Rheumatoid Arthritis
patient,,,,,,,,,,,,,,,,,,,,,
320647,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
426638,1,0,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
430027,1,0,0,1,1,0,1,0,0,0,...,1,1,1,1,0,0,0,0,0,0
445889,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
446339,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3237396,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3239059,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3240660,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3240896,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3244909,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
import h5py
hdf= '/home/mei/nas/docker/thesis/data/hdf/'

risks_each_patient_test = h5py.File(os.path.join(hdf, 'test/risk_each_patient.h5'), 'r')
risk_train  = h5py.File(os.path.join(hdf, 'train/risk_each_patient.h5'), 'r')
risk_val = h5py.File(os.path.join(hdf, 'val/risk_each_patient.h5'), 'r')
risk_test = h5py.File(os.path.join(hdf, 'test/risk_each_patient.h5'), 'r')

In [12]:
import pandas as pd

def read_h5_file_to_df(h5_file, columns):
    all_data = []
    for pid in h5_file.keys():
        data = h5_file[pid][:]
        df = pd.DataFrame(data, columns=columns)
        df["patient"] = int(pid)
        all_data.append(df)
    return pd.concat(all_data, ignore_index=True)

In [7]:
def summarize_by_risk(df, name=""):
    grouped = df.groupby("discharge_risk_category")
    summary = grouped.agg(
        patient_count=("patient", lambda x: x.nunique()),
        record_count=("patient", "count")
    ).sort_index()

    print(f"\ Summary for {name.upper()}:")
    print(summary)
    return summary

In [13]:
COLUMNS = ['time', 'gender', 'age', 'dischargeweight', 'unitdischargestatus',
           'discharge_risk_category', 'actualiculos', 'risk_score']

In [14]:
df_train = read_h5_file_to_df(risk_train, COLUMNS)
df_val = read_h5_file_to_df(risk_val, COLUMNS)
df_test = read_h5_file_to_df(risk_test, COLUMNS)

summarize_by_risk(df_train, "train")
summarize_by_risk(df_val, "val")
summarize_by_risk(df_test, "test")

\ Summary for TRAIN:
                         patient_count  record_count
discharge_risk_category
0.0                                166         81986
1.0                               1303       2227418
2.0                                356        552741
3.0                                325        264139
\ Summary for VAL:
                         patient_count  record_count
discharge_risk_category
0.0                                 37         18841
1.0                                280        479214
2.0                                 87        138928
3.0                                 57         55664
\ Summary for TEST:
                         patient_count  record_count
discharge_risk_category
0.0                                 27         12505
1.0                                294        477276
2.0                                 89        135537
3.0                                 51         42182

                         patient_count  record_count
discharge_risk_category
0.0                                 27         12505
1.0                                294        477276
2.0                                 89        135537
3.0                                 51         42182